In [1]:
import math
import pandas as pd

In [2]:
df1=pd.read_csv('new/train.csv')
df2=pd.read_csv('new/test.csv')

In [3]:
print(df1)

     Unnamed: 0         timestamp       Qmc       Qhv       Qlv       Qmv  \
0             1  09/10/2015 12:00  0.681205  0.409015  0.781223  0.757802
1             2  09/10/2015 16:00  0.833072  0.534224  0.919577  0.902939
2             3  07/10/2015 15:00  0.899592  0.577629  0.894871  0.899466
3             4  05/10/2015 02:00  0.030750  0.028381  0.048219  0.043682
4             5  10/10/2015 05:00  0.060872  0.011686  0.014824  0.021236
..          ...               ...       ...       ...       ...       ...
121         122  07/10/2015 10:00  0.796360  0.539232  0.746635  0.763749
122         123  04/10/2015 01:00  0.080013  0.053422  0.093202  0.089245
123         124  08/10/2015 18:00  0.751804  0.512521  0.709831  0.725120
124         125  09/10/2015 21:00  0.399749  0.282137  0.746635  0.670886
125         126  05/10/2015 10:00  0.667085  0.437396  0.658034  0.663215

     Label
0        2
1        3
2        3
3        0
4        0
..     ...
121      3
122      0
123      2
124      2
125      2

[126 rows x 7 columns]

In [4]:
#print(df2)

In [5]:
df1=df1.sort_values(by=['Qmc'])
print(df1)

     Unnamed: 0         timestamp       Qmc       Qhv       Qlv       Qmv  \
28           29  09/10/2015 04:00  0.000000  0.001669  0.001874  0.000000
96           97  04/10/2015 03:00  0.001255  0.006678  0.020787  0.015328
8             9  06/10/2015 04:00  0.001569  0.013356  0.004600  0.003566
92           93  09/10/2015 03:00  0.002196  0.006678  0.019424  0.014433
63           64  05/10/2015 04:00  0.003138  0.018364  0.004089  0.003947
..          ...               ...       ...       ...       ...       ...
119         120  09/10/2015 10:00  0.933166  0.549249  0.947010  0.942450
120         121  10/10/2015 17:00  0.951992  0.664441  0.924178  0.939779
6             7  09/10/2015 18:00  0.953248  0.524207  0.867439  0.881809
65           66  08/10/2015 08:00  0.962975  0.662771  1.000000  1.000000
105         106  09/10/2015 08:00  1.000000  0.691152  0.950417  0.970830

     Label
28       0
96       0
8        0
92       0
63       0
..     ...
119      3
120      3
6        3
65       3
105      3

[126 rows x 7 columns]

In [6]:
def freq(table, col, v):
    """ Returns counts of variant _v_
        in column _col_ of table _table_.
    """
    return table[col].count(v)

In [7]:
def getDoughertyBin(length):
    log_result = math.log(int(length), 10)
    nilai = 1 if log_result < 1 else math.floor(2*log_result)
    return float(nilai)

In [8]:
getDoughertyBin(126)

4.0